* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: disc;
    line-height: 1;
    text-align: justify;
    padding: 0.5em 1em;
}

header {
    padding: 0 5%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #3B3F5B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

header h3 {
    margin: 0;
    color: white;
    margin: 20px;
    padding: 0px;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

header nav a#nav2:hover {
    text-decoration: underline 2px #FF03FF;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline 2px rgb(92, 225, 230);
    font-weight: bold;
}

section {
    margin: 0;
    padding: 1em;
    scroll-margin-top: 60px;
    padding-top: 2em;
}

body {
    padding-top: 60px;
}

#jugar {
    background-color: #003C59;
    padding: 2em 4em;
    max-width: 100%;
    max-height: fit-content (90%);
}

#jugar h1 {
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.espacio-vg {
    background-color: white;
    width: 100%;
    aspect-ratio: 16 / 9;
}

#contenido {
    display: grid;
    justify-items: center;
    grid-template-columns: 65% 35%;
    background-color: #002232;
    color: white;
    padding-left: 2em;
}

#contenido h1 {
    grid-column: 1 / 3;
    font-size: xx-large;
}

.tablero {
    grid-column: 1 / 2;
    justify-content: center;
    text-align: center;
    padding: 1em 2em;
    overflow: hidden;
    word-wrap: break-word;
}

.cartas_completo {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    border-left: 3px solid #5CE1E6;
    padding: 0 1em;
    overflow: hidden;
    word-wrap: break-word;
}

#cartas {
    grid-row: 1/2;
    justify-items: center;
    text-align: center;
    border-bottom: 3px solid #FF03FF;
    padding-top: 1em;
}

#canales {
    grid-row: 2/3;
    justify-items: center;
    text-align: center;
    padding-top: 1em;
}

.flex_contenido {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    gap: 0.5em;
    width: 100%;
    max-width: 1200px; /* Tamaño máximo del contenedor */
    box-sizing: border-box;
}

.flex_contenido img {
    width: 100%;
    height: auto;
    display: block;
}

.flex_contenido h5 {
    padding-top: 0.5em;
    font-size: medium;
    overflow: hidden;
    word-wrap: break-word;
}

#mecanica {
    display: grid;
    justify-items: center;
    grid-template-columns: 25% 75%;
    grid-template-rows: 36px 400px;
    background-color: #003C59;
    color: white;
}

#mecanica h1 {
    grid-column: 1 / 3;
    grid-row: 1/2;
    font-size: xx-large;
}

#mecanica h2 {
    padding-bottom: 0.5em;
}

.objetivo_completo {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: justify;
    border-right: 3px solid #5CE1E6;
    padding: 0 1em;
    overflow: hidden;
    word-wrap: break-word;
}

#objetivo {
    grid-column: 1 / 2;
    grid-row: 1/2;
    justify-items: center;
    text-align: justify;
    border-bottom: 3px solid #FF03FF;
    padding-top: 1em;
}

#inicio {
    grid-column: 1 / 2;
    grid-row: 2/3;
    justify-items: center;
    text-align: justify;
    padding-top: 1em;
}

.turno {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-items: center;
    text-align: justify;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 1em;
    overflow: hidden;
    word-wrap: break-word;
}

.turno h2 {
    text-align: left;
}

#estadisticas {
    background-color: #002232;
    color: white;
}

footer {
    background-color: #3B3F5B;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

.color_rojo {
    font-weight: bold;
    color: rgb(255, 49, 49);
}

.color_verde {
    font-weight: bold;
    color: #00BF63;
}

.color_morado {
    font-weight: bold;
    color: #CB6CE6;
}

.color_naranja {
    font-weight: bold;
    color: #FFBD5A;
}

.color_azul {
    font-weight: bold;
    color: #5CE1E6;
}

.color_verde_claro {
    font-weight: bold;
    color: rgb(127, 217, 89);
}

.color_rosa {
    font-weight: bold;
    color: rgb(255, 3, 255);
}

.contenedor_graficas{
    border: 0;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.contenedor_graficas canvas{
    flex-grow: 1;
    max-width: 30%; 
    max-height: 600px;
    border: 2px solid white;
    background-color: #003C59;
    
}